<a href="https://colab.research.google.com/github/PrishaTHE-PRO/P-139/blob/main/P_138.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [40]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (5).json

{'kaggle.json': b'{"username":"prisha1","key":"9ef26c9735a85792946b6fbb30f32862"}'}

In [41]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

In [42]:
!kaggle datasets download -d gspmoreira/articles-sharing-reading-from-cit-deskdrop

401 - Unauthorized

In [43]:
!ls

 ¬						 'kaggle (5).json'
 articles-sharing-reading-from-cit-deskdrop.zip   kaggle.json
'kaggle (1).json'				  sample_data
'kaggle (2).json'				  shared_articles.csv
'kaggle (3).json'				  users_interactions.csv
'kaggle (4).json'

In [46]:
!unzip articles-sharing-reading-from-cit-deskdrop.zip

Archive:  articles-sharing-reading-from-cit-deskdrop.zip
replace shared_articles.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: shared_articles.csv
replace users_interactions.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: users_interactions.csv

In [47]:
import pandas as pd 
import numpy as np 

df1=pd.read_csv('shared_articles.csv')
df2=pd.read_csv('users_interactions.csv')

In [48]:
df1.head()

    timestamp  ... lang
0  1459192779  ...   en
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en

[5 rows x 13 columns]

In [49]:
df2.head()

    timestamp eventType  ...  userRegion  userCountry
0  1465413032      VIEW  ...         NaN          NaN
1  1465412560      VIEW  ...          NY           US
2  1465416190      VIEW  ...         NaN          NaN
3  1465413895    FOLLOW  ...         NaN          NaN
4  1465412290      VIEW  ...         NaN          NaN

[5 rows x 8 columns]

In [50]:
df1=df1[df1['eventType']=='CONTENT SHARED']
df1.head()

    timestamp  ... lang
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en
5  1459194522  ...   en

[5 rows x 13 columns]

In [54]:
def total_events(df1_row):
  total_likes=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='LIKE')].shape[0]
  total_views=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='VIEW')].shape[0]
  total_bookmarks=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='BOOKMARK')].shape[0]
  total_follows=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='FOLLOW')].shape[0]
  total_comments=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='COMMENT CREATED')].shape[0]
  return total_likes+total_views+total_bookmarks+total_follows+total_comments
df1['total_events']=df1.apply(total_events,axis=1)
df1=df1.sort_values(['total_events'],ascending=False)
df1.head()

       timestamp       eventType  ...  lang  total_events
3096  1487246811  CONTENT SHARED  ...    en           433
1671  1467813728  CONTENT SHARED  ...    pt           315
1814  1468867647  CONTENT SHARED  ...    pt           294
1317  1465484901  CONTENT SHARED  ...    en           294
588   1461629452  CONTENT SHARED  ...    pt           281

[5 rows x 14 columns]